{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'topic_listing.jinja2' %}

{% from 'macros/forms.jinja2' import search_form %}

{% block title_full %}Tildes{% endblock %}

{% block meta_og_tags %}
  <meta property="og:title" content="Tildes">
  <meta property="og:description" content="Tildes is a non-profit community site with no advertising or investors. It respects its users and their privacy, and prioritizes high-quality content and discussions.">
{% endblock %}

{% block header_context_link %}{% endblock %}

{% block content %}
  {% if request.user %}
    {% if request.user.subscriptions %}
      {{ super() }}
    {% else %}
      <div class="empty">
        <h2 class="empty-title">You aren't subscribed to any groups yet</h2>
        <p class="empty-subtitle">This page will show a combined listing of topics from groups that you're subscribed to.</p>
        <div class="empty-action"><a href="/groups" class="btn btn-primary">Browse the list of groups</a></div>
      </div>
    {% endif %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block sidebar %}
  {{ search_form() }}

  {% if financial_data %}
    {{ donation_goal(financial_data, current_time) }}
  {% endif %}

  <h2>Home</h2>

  {% if request.user %}
    <p>The home page shows topics from groups that you're subscribed to.</p>
  {% else %}
    <p>The home page shows topics from all the groups on Tildes.</p>
    <p>Logged-in users can choose which groups they subscribe to and/or filter out posts with particular tags.</p>
  {% endif %}

  {% if groups %}
    <ul class="nav">
      {% if request.user %}
        <li>Subscriptions</li>
      {% else %}
        <li>Groups</li>
      {% endif %}

      <ul class="nav nav-group-list">
      {% for group in groups|sort %}
        <li class="nav-item">{{ link_to_group(group) }}</li>
      {% endfor %}
      </ul>
    </ul>
    <a href="/groups" class="btn btn-primary">Browse the list of groups</a>
  {% endif %}

  {% if request.user %}
    <div class="divider"></div>

    <ul class="nav">
    <li>User settings</li>

    <ul class="nav">
      {% if not (tag or unfiltered) %}
      <li><details>
        <summary>Filtered topic tags ({{ request.user.filtered_topic_tags|length }})</summary>
        <ul class="topic-tags">
          {% for tag in request.user.filtered_topic_tags %}
            <li class="label label-topic-tag">
              <a href="/?tag={{tag}}">{{ tag }}</a>
            </li>
          {% else %}
            <li class="label label-topic-tag">No filtered tags</li>
          {% endfor %}
        </ul>
        <a class="btn btn-link" href="/settings/filters">Edit filtered tags</a>
      </details></li>
      {% endif %}

      <li class="nav-item ml-2"><a href="/settings">Settings page</a></li>
    </ul>
    </ul>
  {% endif %}
{% endblock %}

{% macro donation_goal(financial_data, current_time) %}
  <div class="donation-goal">
    <header>Tildes's progress to sustainability</header>

    <div class="donation-goal-progress">
      <meter
      {% if financial_data["goal_percentage"] <= 100 %}
        class="donation-goal-meter"
        max="{{ financial_data["goal"] }}"
        low="{{ financial_data["expense"] }}"
        high="{{ financial_data["goal"] // 4 * 3 }}" {# 3/4 of the goal #}
        optimum="{{ financial_data["goal"] - 1 }}" {# just needs to be between high and max #}
        value="{{ financial_data["income"] }}"
      {% else %}
        {# Above 100%, this creates an effect of "extra" bar being added to the end #}
        class="donation-goal-meter donation-goal-meter-over-goal"
        max="{{ financial_data["income"] }}"
        value="{{ financial_data["goal"] }}"
      {% endif %}
        title="${{ financial_data["income"] }} of ${{ financial_data["goal"] }} goal (USD)"
      ></meter>
      <span class="donation-goal-percentage">{{ financial_data["goal_percentage"] }}%</span>
    </div>

    <p class="text-secondary">{{ current_time.strftime("%B %Y") }} donations</p>

    <p>Tildes is a non-profit site with no ads or investors, funded entirely by donations.</p>

    <p><a href="https://docs.tildes.net/donate">Please donate</a> to support its continued development! (<a href="/financials">more details</a>)</p>
  </div>
{% endmacro %}
